{% extends 'part/base.html'%}
{% load static %}
{% block content1 %} حول الجمعية {% endblock %}

{% block content %}
<!--project section-->
    <section id="about" class="about" dir="rtl">

        <div class="container" data-aos="fade-up">
            <div class="row gx-0">
                <div class="container">
                    <div class="row justify-content-center text-center">
                        <h2>مشاريع و انجازات</h2>
                        <h3>“وَقُلِ اعْمَلُوا فَسَيَرَى اللَّهُ عَمَلَكُمْ وَرَسُولُهُ وَالْمُؤْمِنُونَ”</h3>
                    </div>
                </div>
                <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                    <div class="content">
                        <ul>
                            <li><i class="ri-check-double-line"></i> المشاريع الخيرية، وهذه المشاريع تعمل من خلال تبرعات ودعم أهل الخير، مثل [مشروع دعم العائلات الفقيرة وكفالة اليتيم ضمن عائلته، مشروع كفالة طالب العلم الجامعي، مكتب مكافحة التسول، صندوق البر
                                للصحة...]
                            </li>
                            <li><i class="ri-check-double-line"></i>المؤسسات الصحية، تقدم الرعاية الصحية مجاناً أو بأجور منخفضة [مستشفى جمعية البر في حي الوعر، مستشفى الكندي، مستوصف د.أنيس المصري في الحميدية، العيادات التخصصية في الحمرا، مركز البر للتصوير
                                ثلاثي الأبعاد للفكين والأسنان، دار السعادة لرعاية المسنين ..]</li>
                            <li><i class="ri-check-double-line"></i>الأعمال التطوعية، وهي أعمال تهدف إلى تشجيع العمل التطوعي عبر تقديم الخدمات الاجتماعية المتنوعة وتمكين الشباب واليافعين، مثل [ مبادرات رمضان، مكتبة اقرأ كتابي ،] المبادرات الموسمية مثل مفاضلتي
                                أسهل
                            </li>
                            <li><i class="ri-check-double-line"></i>المشاريع بالتعاون مع المنظمات الدولية، وهذه المشاريع استجابة طارئة تكون محددة المدة وبدعم من قبل المنظمات الدولية، مثل [مشروع السلة الغذائية بالتعاون مع برنامج الأغذية العالمي، مشروع العيادات
                                المتنقلة في ريف حمص الشمالي بالتعاون مع منظمة الصحة العالمية(انتهى هذا المشروع)...]</li>
                            <li><i class="ri-check-double-line"></i>مشاريع تنمية الموارد المالية ، و هي مشاريع استثمارية ضمن مدينة حمص تهدف لتامين دخل للجمعية لدعم أعمالها الخيرية ، [مطعم و صالة شبابيك ، صالات الأفراح...............]</li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
                    <img src="{% static 'img/111.jpg' %}" class="img-fluid" alt="">
                </div>

            </div>
        </div>
    </section>
    <!--end project section-->

<section id="team" class="team">

        <div class="container" data-aos="fade-up">
            <div class="row gy-4">

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="member">
                        <div class="member-img">
                            <img src="{% static 'img/cards/mach.jpg' %}" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4>مركز البر للتصوير ثلاثي الأبعاد للفكين والأسنان</h4>
                            <p>
                                يوفر المركز الجهاز الأحدث في المدينة لتصوير الفكين والأسنان <br>
                                <b>يقدم الجهاز ثلاث عينات من الصور</b>
                                <br> السيفالوماتريك Cephalometric
                                <br> البانوراما panoramic
                                <br>Dثلاثية الأبعاد3
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="member">
                        <div class="member-img">
                            <img src="{% static 'img/cards/noor.jpg' %}" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4>صالة النور</h4>
                            <p>تتسع لـ200 شخص تقريباً، بمساحة 250 م2، مخصصة بشكل أساسي لاستقبال كافة المناسبات الاجتماعية واللقاءات المختلفة سواءً الأعراس أو الندوات أو الورشات أو حتى الاجتماعات المهمة. يذكر أنها توقفت عن العمل بسبب أحداث عام 2011 وتم إعادة
                                تأهيلها وافتتاحها.و هي تقع في حي الحميدية – بناء جمعية البرّ – خلف مستوصف الدكتور أنيس المصري </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                    <div class="member">
                        <div class="member-img">
                            <img src="{% static 'img/cards/books.jpg' %}" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4>مكتبة اقرأ كتابي</h4>
                            <p>انطلق مشروع اقرأ كتابي من الإيمان بأهمية وجود مجتمع قارئ للنهوض بالواقع كأفراد ومجتمعات، وتحقيقاً لفكرة أحد المتطوعين، عبر مكتبة تعرض فيها الكتب -على اختلاف مواضيعها وأنواعها- المقدمة من أهل الخير على سبيل الإعارة أو الوقف
                                بحيث تتيح المجال لطالبي المعرفة ولمحبي القراءة للقيام باستعارتها، بالإضافة إلى فعاليات وورشات ونشاطات متنوعة، تصب في تحقيق أهداف المشروع الساعية إلى استهداف شرائح المجتمع كافة وتنمية وتعزيز الميول الثقافية والمعرفية بما
                                يصب في زيادة إنتاجيتهم كأفراد فاعلين في المجتمع.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
                    <div class="member">
                        <div class="member-img">
                            <img src="{% static 'img/cards/home.png' %}" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4>مراكز الإيواء</h4>
                            <p>قيمت مراكز إيواء للنازحين من المناطق الساخنة إلى المناطق الأكثر أمناً تلبية للحاجة التي استدعتها الأحداث في البلاد عام 2011، لتؤمّن لهم المأوى والحاجات الأساسية اللازمة للعائلات (سلات غذائية ولا غذائية، سلات صحية، مساعدات طبية،
                                طبخ، خدمات أخرى) ساهمت المنظمات الإنسانية في دعم مراكز الإيواء، بدءاً بمنظمتيّ DRC و IOM ثمّ جاءت المفوضية السامية للأمم المتحدة لشؤون اللاجئين UNHCR لتقدم الدعم.</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </section>
    <!-- End example Section -->
{% endblock%}