{% load static %}


<!-- ======= Footer ======= -->
 <footer id="footer" class="footer">
     <!--MAP MAP MAP-->


    <!--end MAp-->

    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="{% url 'iindex'%}" class="logo d-flex align-items-center">
              <img src="{% static 'img/a1.png' %}" alt="">

            </a>
            <p dir="rtl">جمعية خيريّة إنسانيّة ذات نفع عام مقرها في مدينة حمص السورية ولها مجموعة من الفروع في باقي المحافظات. تأسست عام 1956 وأشهرت تحت رقم 83/1959. تقوم على تبرّعات المحسنين لتوجيهها في أعمال خيرية تحارب من خلالها الجهل وتساعد الفقراء وتؤمن الرعاية الصحية للمرضى المحتاجين.</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-6 footer-links" dir="rtl">
            <h4>روابط سريعة</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="{% url 'iindex'%}">الصفحةالرئيسية</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">عن الجمعية</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="{% url 'sservices'%}">خدماتنا</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">طرق التبرع</a></li>
            </ul>
          </div>



          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start" dir="rtl" >
            <h4 >تواصل معنا</h4>
            <p>
              حمص ,شارع الدبلان <br>
              حمص الحمدية<br>
             <br><br>
              <strong>هاتف </strong> 0963251485<br>
              <strong>البريد الاكتروني</strong>alberr@gmail.com<br>
            </p>

          </div>

        </div>
      </div>
    </div>
  </footer><!-- End Footer -->