{% extends 'part/base.html'%}
{% load static %}
{% block content1 %} بطاقة صحية{% endblock %}

{% block content %}
{% if messages %}
        {% for msg in messages%}   <br>  <br>  <br>
        <div class="alert alert-info" role="alert" style="width:25%,">

      <h4  style="text-align:center" class="alert-heading">أهلا بك </h4>
       <p style="text-align:center"> {{msg}}</p>
        {% endfor%}</div>
        {% endif%}




<div class="page-content" style="background-image: url('{% static 'img/patient.JPG' %}')">

        <div class="wizard-v1-content">
            <div class="wizard-form">

                <form class="form-register" id="form-register" action="#" method="post">
                    <div id="form-total">
                        <!-- SECTION 1 -->
                        <h2>
                            <span class="step-icon"><i class="zmdi zmdi-account"></i></span>
                            <span class="step-number">الخطوة 1</span>
                            <span class="step-text">المعلومات الأساسية</span>
                        </h2>
                        <section dir="rtl">
                            <div class="inner">
                                <div class="form-row">
                                    <div class="form-holder">
                                        <label for="name">اسم و نسبةالأب</label>
                                        <input type="text" placeholder="اسم الأب" class="form-control" id="name" name="name" required>
                                    </div>
                                    <div class="form-holder">
                                        <label for="mname">اسم و نسبةالأم</label>
                                        <input type="text" placeholder="اسم الأم" class="form-control" id="mname" name="mname " required>
                                    </div>
                                </div>
                                <div class="form-row ">
                                    <div class="form-holder ">
                                        <label for="num-mal ">عدد الذكور</label>
                                        <input type="number " placeholder="عدد الذكور " class="form-control " name="num-mal " id="num-mal " required>
                                    </div>
                                    <div class="form-holder ">
                                        <label for="num-fmal ">عدد الاناث</label>
                                        <input type="number " placeholder="عدد الاناث " class="form-control " name="num-fmal " id="num-fmal " required>
                                    </div>
                                </div>
                                <div class="form-row ">
                                    <div class="form-holder ">
                                        <label for="phone1 ">رقم الأرضي</label>
                                        <input type="tel " placeholder="الرقم الأرضي " class="form-control " name="phone1 " id="phone1 ">
                                    </div>
                                    <div class="form-holder ">
                                        <label for="phone2 ">رقم الموبايل</label>
                                        <input type="tel " placeholder="الرقم الموبايل " class="form-control " name="phone2 " id="phone2 " required>
                                    </div>
                                </div>
                                <div class="form-row ">
                                    <div class="form-holder ">
                                        <label for="iid ">الرقم الوطني للأب</label>
                                        <input type="number " placeholder="الرقم الوطني " class="form-control " name="iid " id="iid " required>
                                    </div>
                                    <div class="form-holder ">
                                        <label for="email ">الايميل</label>
                                        <input type="email " name="email " class="form-control " id="email " placeholder="aaaa@gmail.com " required>
                                    </div>
                                </div>
                                <div class="form-row ">
                                    <div class="form-holder ">
                                        <label for="num-family ">رقم دفتر العائلة</label>
                                        <input type="text " name="num-family " class="form-control " id="num-family " placeholder="123456 " required>
                                    </div>
                                    <div class="form-holder ">
                                        <label for="address ">العنوان بالتفصيل</label>
                                        <input type="text " name="address " class="form-control " id="address " placeholder="حمص , الوعر, شارع الفردوس " required>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- SECTION 2 -->
                        <h2>
                            <span class="step-icon "><i class="zmdi zmdi-card "></i></span>
                            <span class="step-number ">الخطوة 2</span>
                            <span class="step-text ">الوثائق المطلوبة</span>
                        </h2>
                        <section dir="rtl ">
                            <div class="inner ">
                                <div class="form-row ">
                                    <div class="form-holder ">
                                        <label for="f1 ">صورة هوية الأب</label>
                                        <input type="file " name="f1 " class="form-control " id="f1 " required>
                                    </div>
                                    <div class="form-holder ">
                                        <label for=" f2 ">بيان عائلي</label>
                                        <input type="file " name="f2 " class="form-control " id="f2 " required>
                                    </div>
                                </div>
                                <div class="form-row ">
                                    <div class="form-holder ">
                                        <label for="f10 ">وثيقة غير موظف للأب<span class="text-danger ">
                                            <b><u>إن وجد </u></b></span>
                                        </label>
                                        <input type="file " name="f10 " class="form-control " id="f10 ">
                                    </div>
                                    <div class="form-holder ">
                                        <label for="f11 ">وثيقة غير موظف للأم<span class="text-danger ">
                                            <b><u> إن وجد </u></b></span>
                                        </label>
                                        <input type="file " name="f11 " class="form-control " id="f11 ">
                                    </div>
                                </div>
                                <div class="form-row ">
                                    <div class="form-holder ">
                                        <label for="f13 ">بيان بالراتب للأب<span class="text-danger ">
                                            <b><u>إن وجد </u></b></span>
                                        </label>
                                        <input type="file " name="f13 " class="form-control " id="f13 ">
                                    </div>
                                    <div class="form-holder ">
                                        <label for="f15 ">بيان بالراتب للأم<span class="text-danger ">
                                            <b><u>إن وجد </u></b></span>
                                        </label>
                                        <input type="file " name="f15 " class="form-control " id="f15 ">
                                    </div>
                                </div>
                                <div class="form-row ">
                                    <div class="form-holder ">
                                        <label for="f14 ">وثيقة نفي ملكية</label>
                                        <input type="file " name="f14 " class="form-control " id="f14 " required>
                                    </div>
                                    <div class="form-holder ">
                                        <label for="f16 ">عقد ايجار المنزل</label>
                                        <input type="file " name="f16 " class="form-control " id="f16 " required>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <!-- SECTION 3 -->
                        <h2>
                            <span class="step-icon "><i class="zmdi zmdi-receipt "></i></span>
                            <span class="step-number ">الخطوة 3</span>
                            <span class="step-text ">تحقق من البيانات</span>
                        </h2>
                        <section dir="rtl ">
                            <div class="inner ">
                                <h3></h3>
                                <div class="form-row table-responsive ">
                                    <table class="table " dir="rtl ">
                                        <tbody>
                                            <tr class="space-row ">
                                                <th> الاسم و الكنية</th>
                                                <td id="username-val "></td>
                                            </tr>
                                            <tr class="space-row ">
                                                <th>الايميل</th>
                                                <td id="email-val "></td>
                                            </tr>
                                            <tr class="space-row ">
                                                <th>الرقم الوطني</th>
                                                <td id="card-number "></td>
                                            </tr>
                                            <tr class="space-row ">
                                                <th>رقم الموبايل</th>
                                                <td id="phone "></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <input type="submit " class="btn btn-primary align-content-end " value="ارسال ">
                        </section>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock%}