
   {% extends 'part/base.html'%}
{% load static %}
{% block content1 %}  مشافي الحمعية {% endblock %}

{% block content %}
   <!-- ======= hos Section ======= -->
    <section id="values" class="values">


        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <p>اختر مكان الخدمة</p>
            </header>

            <div class="row">

                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="box">
                        <img src="{% static 'img/hospital.jpg' %}" class="img-fluid" alt="">
                        <h3>مشفى جمعية البر</h3>
                        <p>يقع مشفى البر في حي الوعر و يتيح لك الموقع حجز دور حالا ضمن لأقسام التالية المتوفرة في المشفى</p>
                        <nav id="ch1" class="navbar">
                            <ul>
                                <li class="dropdown">

                                        <span>سجل الآن</span> <i class=" bi bi-chevron-right "></i>
                                    <ul>

                                        <li>
                                            <a href="">داخلية</a>
                                        </li>
                                        <li>
                                            <a href="# ">عينية</a>
                                        </li>
                                        <li>
                                            <a href="# ">نسائية</a>
                                        </li>
                                        <li>
                                            <a href="# ">عظمية</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>


                <div class="col-lg-4 mt-4 mt-lg-0 " data-aos="fade-up " data-aos-delay="400 ">
                    <div class="box">
                        <img src="{% static 'img/alkindi.png' %}" class="img-fluid" alt="">
                        <h3>مشفى الكندي</h3>
                        <p>يقع مشفى الكنديفي حي الغوطة و يتيح لك الموقع حجز دور حالا ضمن لأقسام التالية المتوفرة في المشفى</p>
                        <nav id="ch1" class="navbar">
                            <ul>
                                <li class="dropdown">
                                    <a href="#" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                                        <span>سجل الآن</span> <i class=" bi bi-chevron-right "></i></a>
                                    <ul>
                                        <li>
                                            <a href="">جلدية</a>
                                        </li>
                                        <li>
                                            <a href="">داخلية</a>
                                        </li>
                                        <li>
                                            <a href="# ">عينية</a>
                                        </li>
                                        <li>
                                            <a href="# ">نسائية</a>
                                        </li>
                                        <li>
                                            <a href="# ">عظمية</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0 " data-aos="fade-up " data-aos-delay="600 ">
                    <div class="box">
                        <img src="{% static 'img/patient.JPG' %}" class="img-fluid" alt="">
                        <h3>عيادات جمعية البر</h3>
                        <p>تقع العيادات الشاملة في حي الحمراء و يتيح لك الموقع حجز دور حالا ضمن لأقسام التالية المتوفرة في المشفى</p>
                        <nav id="ch1" class="navbar">
                            <ul>
                                <li class="dropdown">
                                    <a href="#" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                                        <span>سجل الآن</span> <i class=" bi bi-chevron-right "></i></a>
                                    <ul>
                                        <li>
                                            <a href="">جلدية</a>
                                        </li>
                                        <li>
                                            <a href="">داخلية</a>
                                        </li>
                                        <li>
                                            <a href="# ">عينية</a>
                                        </li>
                                        <li>
                                            <a href="# ">نسائية</a>
                                        </li>
                                        <li>
                                            <a href="# ">عظمية</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>

        </div>

        <br><br> <br> <br> <br> <br> <br> <br>

    </section>
    <!-- End hos Section -->



{% endblock%}



